/*cores #F45197 rosa*/


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFC628;
}

header {
    background-color: white;
    margin: auto;
    width: 100%;
    padding-bottom: 10px;
}


#cabe {
    display: flex;
}

header img {
    padding-top: 20px;
    padding-left: 20px;
}

header h1 {
    padding-top: 20px;
    text-align: center;
    margin: auto;
    font-family: 'Sora', sans-serif;
    color: #F45197;
    text-shadow: 0px 1px 1px black;
}

body p {
    margin: auto;
    font-size: 0.8em;
    font-family: 'Sora', sans-serif;
    color: #FFC628;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.671);
    background-color: white;
    text-align: center;
}

main {
    
    width: 100%;
    margin: auto;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
    background-color: #FFC628;
}

main h1 {
    padding-bottom: 10px;
    font-size: 2.5em;
    font-family: 'Passion One', cursive;
    color: #F45197;
    text-shadow: 1px 1px 1px black;
}

main p {
    width: 300px;
    margin: auto;
    font-family: 'Sora', sans-serif;
    padding-bottom: 30px;
}

section > p > a {
    color: #F45197;
}

.moto {
    padding-top: 30px;
    padding-bottom: 10px;
}

footer {
    display: block;
    background-color: #F45197;
    height: 200px;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.538);
}

footer h3 {
    font-family: 'Passion One', cursive;
    font-size: 2em;
    padding: 10px;
    color: white;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

footer img {
    padding: 10px;
}

footer p {
    display: flex;
}

footer p,img  {
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #25d366;
}

.what {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

.sor {
    max-width: 800px;
    width: 100%;
    margin: auto;
}
